<!-- Consulting Start -->
<div class="container-xxl py-5">
  <div class="container py-5 px-lg-5">
    <div class="wow fadeInUp" data-wow-delay="0.1s">
      <p class="section-title text-secondary justify-content-center">
        <span></span>مشاوره<span></span>
      </p>
      <h1 class="text-center mb-5">مشاوره تخصصی و هدفمند</h1>
    </div>
    <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.3s">
      <div class="col-12 text-center">
        <ul class="list-inline mb-5" id="portfolio-flters">
          <li class="mx-2 active" data-filter="*">همه</li>
          <li class="mx-2" data-filter=".first">طراحی سایت</li>
          <li class="mx-2" data-filter=".second">طراحی گرافیک</li>
        </ul>
      </div>
    </div>
    <div class="row g-4 portfolio-container">
      <div
        class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp"
        data-wow-delay="0.1s"
      >
        <div class="rounded overflow-hidden">
          <div class="position-relative overflow-hidden">
            <img class="img-fluid w-100" src="img/portfolio-1.jpg" alt="" />
            <div class="portfolio-overlay">
              <a
                class="btn btn-square btn-outline-light mx-1"
                href="img/portfolio-1.jpg"
                data-lightbox="portfolio"
                ><i class="fa fa-eye"></i
              ></a>
              <a class="btn btn-square btn-outline-light mx-1" href=""
                ><i class="fa fa-link"></i
              ></a>
            </div>
          </div>
          <div class="bg-light p-4 text-center">
            <p class="text-primary fw-medium mb-2">طراحی رابط کاربری</p>
            <h5 class="lh-base mb-0">
              طراحی رابط کاربری جذاب و کاربرپسند برای تجربه بهتر
            </h5>
          </div>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp"
        data-wow-delay="0.3s"
      >
        <div class="rounded overflow-hidden">
          <div class="position-relative overflow-hidden">
            <img class="img-fluid w-100" src="img/portfolio-2.jpg" alt="" />
            <div class="portfolio-overlay">
              <a
                class="btn btn-square btn-outline-light mx-1"
                href="img/portfolio-2.jpg"
                data-lightbox="portfolio"
                ><i class="fa fa-eye"></i
              ></a>
              <a class="btn btn-square btn-outline-light mx-1" href=""
                ><i class="fa fa-link"></i
              ></a>
            </div>
          </div>
          <div class="bg-light p-4 text-center">
            <p class="text-primary fw-medium mb-2">طراحی تجربه کاربری</p>
            <h5 class="lh-base mb-0">
              بهبود تجربه کاربری برای افزایش رضایت و تعامل کاربران
            </h5>
          </div>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp"
        data-wow-delay="0.5s"
      >
        <div class="rounded overflow-hidden">
          <div class="position-relative overflow-hidden">
            <img class="img-fluid w-100" src="img/portfolio-3.jpg" alt="" />
            <div class="portfolio-overlay">
              <a
                class="btn btn-square btn-outline-light mx-1"
                href="img/portfolio-3.jpg"
                data-lightbox="portfolio"
                ><i class="fa fa-eye"></i
              ></a>
              <a class="btn btn-square btn-outline-light mx-1" href=""
                ><i class="fa fa-link"></i
              ></a>
            </div>
          </div>
          <div class="bg-light p-4 text-center">
            <p class="text-primary fw-medium mb-2">تحلیل و آنالیز</p>
            <h5 class="lh-base mb-0">
              تحلیل داده های کسب و کار برای تصمیم گیری دقیق و بهینه
            </h5>
          </div>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp"
        data-wow-delay="0.1s"
      >
        <div class="rounded overflow-hidden">
          <div class="position-relative overflow-hidden">
            <img class="img-fluid w-100" src="img/portfolio-4.jpg" alt="" />
            <div class="portfolio-overlay">
              <a
                class="btn btn-square btn-outline-light mx-1"
                href="img/portfolio-4.jpg"
                data-lightbox="portfolio"
                ><i class="fa fa-eye"></i
              ></a>
              <a class="btn btn-square btn-outline-light mx-1" href=""
                ><i class="fa fa-link"></i
              ></a>
            </div>
          </div>
          <div class="bg-light p-4 text-center">
            <p class="text-primary fw-medium mb-2">بهینه سازی سئو</p>
            <h5 class="lh-base mb-0">
              بهینه سازی سئو برای افزایش رتبه و دیده شدن در گوگل
            </h5>
          </div>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp"
        data-wow-delay="0.3s"
      >
        <div class="rounded overflow-hidden">
          <div class="position-relative overflow-hidden">
            <img class="img-fluid w-100" src="img/portfolio-5.jpg" alt="" />
            <div class="portfolio-overlay">
              <a
                class="btn btn-square btn-outline-light mx-1"
                href="img/portfolio-5.jpg"
                data-lightbox="portfolio"
                ><i class="fa fa-eye"></i
              ></a>
              <a class="btn btn-square btn-outline-light mx-1" href=""
                ><i class="fa fa-link"></i
              ></a>
            </div>
          </div>
          <div class="bg-light p-4 text-center">
            <p class="text-primary fw-medium mb-2">رشد کسب و کار</p>
            <h5 class="lh-base mb-0">
              راهکارهای نوین برای رشد پایدار و موفقیت کسب و کار شما
            </h5>
          </div>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp"
        data-wow-delay="0.5s"
      >
        <div class="rounded overflow-hidden">
          <div class="position-relative overflow-hidden">
            <img class="img-fluid w-100" src="img/portfolio-6.jpg" alt="" />
            <div class="portfolio-overlay">
              <a
                class="btn btn-square btn-outline-light mx-1"
                href="img/portfolio-6.jpg"
                data-lightbox="portfolio"
                ><i class="fa fa-eye"></i
              ></a>
              <a class="btn btn-square btn-outline-light mx-1" href=""
                ><i class="fa fa-link"></i
              ></a>
            </div>
          </div>
          <div class="bg-light p-4 text-center">
            <p class="text-primary fw-medium mb-2">تولید محتوا</p>
            <h5 class="lh-base mb-0">
              تولید محتوای جذاب و هدفمند برای جذب و تعامل بیشتر
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Consulting End -->
