<!-- Service Start -->
<div class="container-xxl py-5">
  <div class="container py-5 px-lg-5">
    <div class="wow fadeInUp" data-wow-delay="0.1s">
      <p class="section-title text-secondary justify-content-center">
        <span></span>سرویس ها<span></span>
      </p>
      <h1 class="text-center mb-5">چه راه حل هایی ارائه می دهیم</h1>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item d-flex flex-column text-center rounded">
          <div class="service-icon flex-shrink-0">
            <i class="fa fa-search fa-2x"></i>
          </div>
          <h5 class="mb-3">بهینه سازی سئو</h5>
          <p class="m-0">
            افزایش رتبه سایت شما در گوگل با بهینه سازی حرفه ای سئو و جذب مشتریان
            بیشتر
          </p>
          <a class="btn btn-square" href=""
            ><i class="fa fa-arrow-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item d-flex flex-column text-center rounded">
          <div class="service-icon flex-shrink-0">
            <i class="fa fa-laptop-code fa-2x"></i>
          </div>
          <h5 class="mb-3">طراحی وب سایت</h5>
          <p class="m-0">
            طراحی سایت مدرن، واکنش گرا و کاربرپسند برای رشد کسب و کار شما
          </p>
          <a class="btn btn-square" href=""
            ><i class="fa fa-arrow-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item d-flex flex-column text-center rounded">
          <div class="service-icon flex-shrink-0">
            <i class="fab fa-facebook-f fa-2x"></i>
          </div>
          <h5 class="mb-3">سوشال مدیا مارکتینگ</h5>
          <p class="m-0">
            مدیریت و تبلیغات در شبکه های اجتماعی برای افزایش تعامل و فروش
          </p>
          <a class="btn btn-square" href=""
            ><i class="fa fa-arrow-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item d-flex flex-column text-center rounded">
          <div class="service-icon flex-shrink-0">
            <i class="fa fa-mail-bulk fa-2x"></i>
          </div>
          <h5 class="mb-3">ایمیل مارکتینگ</h5>
          <p class="m-0">
            ارسال ایمیل های هدفمند برای جذب و حفظ مشتریان وفادار
          </p>
          <a class="btn btn-square" href=""
            ><i class="fa fa-arrow-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item d-flex flex-column text-center rounded">
          <div class="service-icon flex-shrink-0">
            <i class="fa fa-thumbs-up fa-2x"></i>
          </div>
          <h5 class="mb-3">تبلیغات کلیکی</h5>
          <p class="m-0">
            کمپین های تبلیغاتی کلیکی بهینه برای جذب سریع مشتری و افزایش فروش
          </p>
          <a class="btn btn-square" href=""
            ><i class="fa fa-arrow-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item d-flex flex-column text-center rounded">
          <div class="service-icon flex-shrink-0">
            <i class="fab fa-android fa-2x"></i>
          </div>
          <h5 class="mb-3">توسعه اپلیکیشن</h5>
          <p class="m-0">
            طراحی و ساخت اپلیکیشن های موبایل برای ارتقای برند و خدمات شما
          </p>
          <a class="btn btn-square" href=""
            ><i class="fa fa-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service End -->
